{% extends "base.html" %}
{%block title %}Nánari upplýsingar{%endblock%}
{%block content %}
    <h1>Nánari upplýsingar</h1>

    {% for item in gogn["results"] %}
        {% if item.key == k %}
            <h3>Staður: {{item.name}}</h3>
            <h3>Söluaðili: {{item.company}}</h3>
            <h3>Verð á 1.lítra af bensín: {{ item.bensin95 }}</h3>
            <h3>Verð á 1.lítra af dísel: {{ item.diesel }}</h3>

            <div class="kort">
                <h4>Staðsetning Bensínstöðvar</h4>
                <ul>
                    <li>Breiddargráða: {{item.geo.lat}}</li>
                    <li>Lengdargráða: {{item.geo.lon}}</li>
                    <li><a href="https://www.google.com/maps/@{{item.geo.lat}},{{item.geo.lon}},22z/">kort</a></li>
                </ul>

            </div>
        {% endif %}
    {% endfor %}


{%endblock%}